@use "../../../../styles/helpers" as *;

.search {
  @include flex-vertical();
  padding: 30px 70px 20px;
  background-color: $primary-bg-color;

  &__icon {
    font-size: 20px;
    position: relative;
    left: 30px;
    bottom: 1px;
    color: $search-icon-color;
    transform: rotate(90deg);
  }

  &__input {
    height: 35px;
    width: 300px;
    margin-right: 5px;
    padding: 0 10px 0 35px;
    outline: none;
  }

  &__button {
    @include flex-vertical();
    height: 43px;
    border-radius: 3px;
    background-color: $button-secondary-bg-color;
    transition: 0.3s;

    // &:hover {
    //   transform: scale(0.97);
    //   transition: 0.3s;
    // }
  }
}
