<app-shell>
  <app-search (search)="onSearch($event)"></app-search>
  <div class="courses">
    <app-button
      class="courses__add-btn"
      text="{{ 'FEATURES.COURSES.ADD_BTN' | translate }}"
      [type]="buttonType"
      (click)="addCourse()"
    ></app-button>
    <app-courses-list [courses]="courses"></app-courses-list>
    <app-pagination
      *ngIf="showPaginationButton"
      [coursesCount]="coursesCount"
      (paginateCourses)="paginateCourses($event)"
    ></app-pagination>
  </div>
</app-shell>
