@use "../../../../styles/helpers" as *;

:host {
  @include flex-vertical();
  padding: 3px 14px;
  border-radius: 3px;
  background: $button-primary-bg-color;
  transition: 0.3s;

  .button {
    color: $secondary-color;
    background-color: inherit;
    cursor: pointer;

    &__control {
      border: none;
      outline: none;
      color: $secondary-color;
      background: none;
      cursor: pointer;
    }
  }

  &:hover {
    transform: scale(0.97);
    transition: 0.3s;
  }
}
