<div
  class="course-item"
  [ngClass]="{ 'top-rated-course': course.isTopRated }"
  [appBorderColor]="course.date"
>
  <div class="course-item__content content">
    <div class="content__wrapper">
      <div class="content__title title">
        <div class="title__name">{{ course.name | uppercase }}</div>
        <fa-icon
          *ngIf="course.isTopRated"
          class="title__icon"
          [icon]="starIcon"
        ></fa-icon>
      </div>
      <div class="content__datetime datetime">
        <div
          *ngIf="course.length"
          class="datetime__time time"
        >
          <fa-icon
            [icon]="timeIcon"
            class="time__icon"
          ></fa-icon>
          <div class="time__value">{{ course.length | duration }}</div>
        </div>
        <div class="datetime__date date">
          <fa-icon
            [icon]="dateIcon"
            class="date__icon"
          ></fa-icon>
          <div class="date_value">{{ course.date | date: datePipe }}</div>
        </div>
      </div>
    </div>
    <div class="content__description">{{ course.description }}</div>
  </div>
  <div class="course-item__actions actions">
    <div
      class="actions__item"
      *ngFor="let button of actionButtons; trackBy: trackByFn"
    >
      <app-button
        [class]="button.text.toLowerCase()"
        [text]="button.text"
        [type]="button.type"
        (click)="button.action(course)"
      ></app-button>
    </div>
  </div>
</div>
