$colors: (
  grey: (
    200: #f2f3f7,
    300: #b7b7b7,
    400: #9194a0,
    600: #535353,
    900: #414452,
  ),
  light-blue: (
    200: #30b6dd,
    900: #0066ff,
  ),
  green: (
    200: #9bc837,
  ),
  black: #000000,
  white: #ffffff,
  transparent: #ffffff00,
);
