$colors: (
  grey: (
    100: #fafafa,
    500: #5f5f5f,
    600: #616161,
    900: #00000036,
  ),
  light-blue: (
    300: #0099de,
    400: #008ecf,
  ),
  green: (
    300: #0cb937,
    400: #0dac35,
  ),
  black: #000000,
  white: #ffffff,
  transparent: #ffffff00,
);
