// Base
$min-width: 100vw;
$min-height: 100vh;
$font-family: "Comic Sans MS", arial;
$font-size: var(--font-size-default);
$line-height: 1.5;
$primary-color: var(--black);
$primary-bg-color: var(--white);
