// Base
$min-width: 100vw;
$min-height: 100vh;
$font-family: "Comic Sans MS", arial;
$font-size: var(--font-size-default);
$line-height: 1.5;
$primary-color: var(--black);
$primary-bg-color: var(--grey-200);

$secondary-color: var(--white);
$secondary-bg-color: $secondary-color;

$search-icon-color: var(--grey-400);

$top-rated-course-bg-color: var(--yellow-100);
$title-icon-color: var(--yellow-400);

$button-primary-bg-color: var(--light-blue-200);
$button-secondary-bg-color: var(--green-200);

$datetime-color: var(--grey-300);
$description-color: var(--grey-600);

$pagination-color: var(--light-blue-900);

$shell-bg-color: var(--grey-900);

$error-color: var(--red-500);

$disable-btn-bg-color: $description-color;

$footer-color: $search-icon-color;
$required-form-title-color: $search-icon-color;

$box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
