<app-shell [batchName]="courseTitleBatchName">
  <form 
    [formGroup]="form" 
    [name]="formName" 
    class="course-form"
  >
    <div class="course-form__content content">
      <div class="content__title title course-form__field">
        <label class="title" for="title">Title:</label>
        <mat-form-field appearance="outline">
          <input 
            id="title"
            type="text" 
            matInput
            class="title__input"
            maxlength="50"
            placeholder="Title"
            formControlName="title"
          />
        </mat-form-field>
        <span 
          *ngIf="validateControl('title')"
          class="error-message"
        >
          Title is required
        </span>
      </div>
      <div class="content__description description course-form__field">
        <label class="description" for="description">Description:</label>
        <mat-form-field appearance="outline">
          <textarea 
            id="description"
            type="text" 
            rows="5"
            matInput
            maxlength="500"
            class="description__input"
            placeholder="Description"          
            formControlName="description" 
          ></textarea>
        </mat-form-field>
        <span 
          *ngIf="validateControl('description')"
          class="error-message"
        >
          Description is required
        </span>
      </div>
      <div class="content__date date course-form__field">
        <label class="date" for="date">Date:</label>
        <app-date-picker 
          formControlName="date"
        ></app-date-picker>
        <span 
          *ngIf="validateControl('date')"
          class="error-message"
        >
          Date is required
        </span>
      </div>
      <div class="content__duration duration course-form__field">
        <label class="duration" for="duration">Duration:</label>
        <app-duration-control 
          formControlName="duration"
        ></app-duration-control>
        <span 
          *ngIf="validateControl('duration')"
          class="error-message"
        >
          Duration is required
        </span>
      </div>
      <div class="content__authors authors course-form__field">
        <label class="authors" for="authors">Authors:</label>
        <app-authors
          formControlName="authors"
          (setAuthors)="setAuthors($event)"
          [allAuthors]="authors$ | async"
        ></app-authors>
        <span 
          *ngIf="validateControl('authors')"
          class="error-message"
        >
          Authors is required
        </span>
      </div>
    </div>
    <div class="course-form__actions actions">
      <app-button 
        text="Save" 
        [disabled]="form.invalid"
        [class.disabled]="form.invalid"
        (click)="onSave()"
      ></app-button>
      <app-button text="Cancel" (click)="onCancel()"></app-button>
    </div>
  </form>
</app-shell>