@use "../../../../../styles/helpers/variables" as *;

.course-form {
  width: 33%;
  margin: 33px auto 0;

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;
  }

  .disabled {
    background-color: $disable-btn-bg-color;
    cursor: not-allowed;

    &:hover {
      transform: scale(1);
    }
  }

  .error-message {
    font-size: 15px;
    margin-top: 7px;
  }

  mat-form-field {
    margin-bottom: -30px;
  }
}
