<app-shell [batchName]="courseTitleBatchName">
  <form
    [formGroup]="form"
    [name]="formName"
    class="course-form"
  >
    <div class="course-form__content content">
      <div class="content__title title course-form__field">
        <label
          class="title"
          for="title"
        >
          {{ 'FEATURES.COURSES.FORM.TITLE' | translate }}:
        </label>
        <mat-form-field appearance="outline">
          <input
            id="title"
            type="text"
            matInput
            class="title__input"
            maxlength="50"
            placeholder="{{ 'FEATURES.COURSES.FORM.TITLE' | translate }}"
            formControlName="title"
          />
        </mat-form-field>
        <span
          *ngIf="validateControl('title')"
          class="error-message"
        >
          {{ 'FEATURES.COURSES.FORM.TITLE' | translate }} {{ requiredMsg }}
        </span>
      </div>
      <div class="content__description description course-form__field">
        <label
          class="description"
          for="description"
        >
          {{ 'FEATURES.COURSES.FORM.DESCRIPTION' | translate }}:
        </label>
        <mat-form-field appearance="outline">
          <textarea
            id="description"
            type="text"
            rows="5"
            matInput
            maxlength="500"
            class="description__input"
            placeholder="{{ 'FEATURES.COURSES.FORM.DESCRIPTION' | translate }}"
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <span
          *ngIf="validateControl('description')"
          class="error-message"
        >
          {{ 'FEATURES.COURSES.FORM.DESCRIPTION' | translate }} {{ requiredMsg }}
        </span>
      </div>
      <div class="content__date date course-form__field">
        <label
          class="date"
          for="date"
        >
          {{ 'FEATURES.COURSES.FORM.DATE' | translate }}:
        </label>
        <app-date-picker
          formControlName="date"
        ></app-date-picker>
        <span
          *ngIf="validateControl('date')"
          class="error-message"
        >
          {{ 'FEATURES.COURSES.FORM.DATE' | translate }} {{ requiredMsg }}
        </span>
      </div>
      <div class="content__duration duration course-form__field">
        <label
          class="duration"
          for="duration"
        >
          {{ 'FEATURES.COURSES.FORM.DURATION' | translate }}:
        </label>
        <app-duration-control
          formControlName="duration"
        ></app-duration-control>
        <span
          *ngIf="validateControl('duration')"
          class="error-message"
        >
          {{ 'FEATURES.COURSES.FORM.DURATION' | translate }} {{ requiredMsg }}
        </span>
      </div>
      <div class="content__authors authors course-form__field">
        <label
          class="authors"
          for="authors"
        >
          {{ 'FEATURES.COURSES.FORM.AUTHORS' | translate }}:
        </label>
        <app-authors
          formControlName="authors"
          (setAuthors)="setAuthors($event)"
          [allAuthors]="authors$ | async"
        ></app-authors>
        <span
          *ngIf="validateControl('authors')"
          class="error-message"
        >
          {{ 'FEATURES.COURSES.FORM.AUTHORS' | translate }} {{ requiredMsg }}
        </span>
      </div>
    </div>
    <div class="course-form__actions actions">
      <app-button
        text="{{ 'FEATURES.COURSES.FORM.BUTTONS.SAVE' | translate }}"
        [disabled]="form.invalid"
        [class.disabled]="form.invalid"
        (click)="onSave()"
      ></app-button>
      <app-button
        text="{{ 'FEATURES.COURSES.FORM.BUTTONS.CANCEL' | translate }}"
        (click)="onCancel()"
      ></app-button>
    </div>
  </form>
</app-shell>
