@use "../../../../styles/helpers" as *;

.pagination {
  &__label {
    color: $pagination-color;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      transform: scale(0.97);
      transition: 0.3s;
    }
  }
}
