@use "../../../../../styles/helpers/index" as *;

.header {
  @include flex-vertical();
  justify-content: space-between;
  padding: 20px 60px 20px 90px;
  background-color: $shell-bg-color;
  color: $secondary-color;

  .left-side {
    @include flex-vertical();
    justify-content: space-between;
    width: 343px;
  }
}
