<app-shell>
  <mat-card class="login-page">
    <mat-card-title
      class="login-page__title"
    >
      {{ 'FEATURES.LOGIN.CAPTION' | translate }}
    </mat-card-title>
    <mat-card-content class="login-page__content">
      <form #loginForm="ngForm" class="login-page__form form">
        <div class="form__email email">
          <div class="email__header">
            <label
              class="email__header_title"
              for="email"
            >
              {{ 'FEATURES.LOGIN.EMAIL' | translate }}:
            </label>
            <p
              class="email__header_required required-asterisk"
            >
              {{ 'FEATURES.LOGIN.REQUIRED_MSG' | translate }}
            </p>
          </div>
          <mat-form-field
            class="email__input"
            appearance="outline"
          >
            <input
              id="email"
              type="email"
              name="email"
              required
              [(ngModel)]="user.email"
              matInput
              placeholder="{{ 'FEATURES.LOGIN.PLACEHOLDERS.EMAIL' | translate }}"
            />
          </mat-form-field>
        </div>
        <div class="form__password password">
          <div class="password__header">
            <label
              class="password__header_title"
              for="password"
            >
              {{ 'FEATURES.LOGIN.PASSWORD' | translate }}:
            </label>
            <p
              class="password__header_required required-asterisk"
            >
              {{ 'FEATURES.LOGIN.REQUIRED_MSG' | translate }}
            </p>
          </div>
          <mat-form-field
            class="password__input"
            appearance="outline"
          >
            <input
              id="password"
              type="password"
              name="password"
              required
              [(ngModel)]="user.password"
              matInput
              placeholder="{{ 'FEATURES.LOGIN.PLACEHOLDERS.PASSWORD' | translate }}"
            />
          </mat-form-field>
        </div>
        <div class="error-message">{{ errorMessage$ | async }}</div>
        <div class="form__actions actions">
          <a
            href="#"
            class="actions__password"
          >
            {{ 'FEATURES.LOGIN.PASSWORD_ACTION' | translate }}
          </a>
          <button
            type="submit"
            mat-button
            mat-stroked-button
            class="actions__login"
            [disabled]="loginForm.invalid"
            (click)="login()"
          >
            {{ 'FEATURES.LOGIN.CAPTION' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</app-shell>
