.course-form {
  width: 33%;
  margin: 78px auto 0;

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;
  }
}
