<div 
  class="course-item" 
  [ngClass]="{ 'top-rated-course': course.topRated }"
  [appBorderColor]="course.creationDate"
>
  <div class="course-item__content content">
    <div class="content__wrapper">
      <div class="content__title title">
        <div class="title__name">{{ course.title | uppercase }}</div>
        <fa-icon
          *ngIf="course.topRated"
          class="title__icon"
          [icon]="starIcon"
         ></fa-icon>
      </div>
      <div class="content__datetime datetime">
        <div 
          *ngIf="course.duration"
          class="datetime__time time"
        >
          <fa-icon
            [icon]="timeIcon"
            class="time__icon"
          ></fa-icon>
          <div class="time__value">{{ course.duration | duration }}</div>
        </div>
        <div class="datetime__date date">
          <fa-icon
            [icon]="dateIcon"
            class="date__icon"
          ></fa-icon>
          <div class="date_value">{{ course.creationDate | date: datePipe }}</div>
        </div>
      </div>
    </div>
    <div class="content__description">{{ course.description }}</div>
  </div>
  <div class="course-item__actions actions">
    <div 
      class="actions__item"
      *ngFor="let button of actionButtons; trackBy: trackByFn"
    >
      <app-button
        [class]="button.text.toLowerCase()"
        [text]="button.text"
        [type]="button.type"
        (click)="button.action(course)"
      ></app-button>
    </div>
  </div>
</div>